{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="container ">
    <div class="row mt-5 ">
        <div class="col-md-6">
            <img class="img-fluid rounded " src="{% static 'images/animated1.png' %}" alt="hero photo" style="border-radius: 10px;">
        </div>
        <div class="col-md-4 mt-lg-5 mt-md-5 mt-5 ">
            <h2 class="mt-lg-5 mt-md-5 mt-sm-5 intro">Hello there, Thank you for visiting Gallery.</h2>
            <p class="detaill">This is a simple collection of best captured photos from different locations in several categories  </p>
            <p class="detaill">We aim to make your experience here as seamless and as visually appealing as possible. </p>
           <h3 class=""><span class="detail">Adios</span>  </h3>
       
    </div>
</div>
{% endblock %}