{% extends 'main/base.html' %}
{% load static %}


{% block content %}


<div class="container ">
    <div class="row mt-5 ">
        <div class="col-md-6">
            <img class="img-fluid rounded " src="{{image.main_image.url}}" alt="hero photo"
                style="border-radius: 10px;">
        </div>
        <div class="col-md-4 mt-lg-5 mt-md-5 mt-5 ">
            <h5 class="fw-bold text-center m-lg-5 m-md-5 detail">Image Details: </h5>
            <hr>
            <h5 class="fw-bold  m-lg-3 m-md-3">Image name: </h5>
            <h6 class="m-3 "><i class="fa-brands fa-accusoft"></i> {{image.image_name}} </h6>
            <h5 class="fw-bold  m-lg-3 m-md-3"> Description</h5>
            <h6 class="m-3 "><i class="fas fa-anchor"></i> {{image.description}}</h6>
            <h5 class="fw-bold  m-lg-3 m-md-3">Image Location:</h5>
            <h6 class="m-3 "> <i class="fa-solid fa-map-location-dot"></i> {{image.location.name}} </h6>
            <h5 class="fw-bold  m-lg-3 m-md-3">Category: </h5>
            <h6 class="m-3 "><i class="fa-solid fa-font-awesome"></i> {{image.category.title}}</h6>
            <div class="row mt-5">
                <div class="col"><a href=""><button type="button" class="btn btn-danger"><i class="fas fa-link"></i>
                            Copy Link</button></div></a>
                <div class="col"><a href="{% url 'homepage' %}"><button type="button" class="btn btn-info"
                            data-mdb-ripple-color="dark"><i class="fas fa-arrow-alt-circle-left"></i> Back</button>
                </div></a>
            </div>
        </div>

    </div>
</div>



{% endblock %}