
{% load static %}

{% block gallery %}

<div class="container-fluid gallery-section mt-1">
    <h2 class="text-center"><span>Our Gallery</span></h2>
    <div class="container-fluid">
        <div class="container">
      
            

              <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for image in images %}
                <div class="col">
                  <div class="card ">
                    <img src="{{image.main_image.url}}" class="card-img-top img-responsive" data-mdb-toggle="modal" data-mdb-target="#exampleModal"  style="height: 15rem;"  alt="{{image.image_name}}"/>
                    
                  </div>
                </div>
                {% endfor %}
              </div>











        </div>
      </div>
</div>
{% endblock %}