
{% load static %}

{% block gallery %}

<div class="container-fluid gallery-section mt-1">
    <h2 class="text-center"><span>Our Gallery</span></h2>
    <div class="container-fluid">
        <div class="container-fluid">
      
            

              <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for image in images %}
                <!-- <div class="col card">
                  <div class="">
                    <img src="" class="card-img-top img-responsive" data-mdb-toggle="modal" data-mdb-target="#{{image.id}}"  style="height:15rem;"  alt="{{image.image_name}}"/>
                    <a href=""data-toggle="modal" data-target="#myModal{{ forloop.counter }}"> </a>
                  </div>
                </div> -->

                <!-- Image with violet mask -->
<div class=" bg-image rounded-6 masking bg3 m-md-4" style="cursor: pointer;">
  <img
    src="{{image.main_image.url}}"
    class="w-100 h-100 bg3"
    alt="Alternative text"
    style="border-radius: 10px; width:auto;"
  />
  <!-- Mask -->
  <div
  class="mask bg3"
  style="
    background: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0),
      hsla(307, 82%, 24%, 0.55)
    );
  "
  >
    <div
      class="
        bottom-0
        d-flex
        align-items-end
        h-100
        text-center
        justify-content-center
      "
    >
      <div class="col">
        
        <div class="row"><p class="fw-bold text-white mb-1 btn3"><small><i class="fa-solid fa-map-location-dot"></i> Location: {{image.location.name}} </small></p></div>
        <div class="row"><p class="fw-bold text-white mb-1 btn3"><small><i class="fa-solid fa-font-awesome"></i> Category: {{image.category.title}}</small></p></div>

      </div>
     
    </div>
  </div>
</div>






                
                {% endfor %}
              </div>





</div>
</div>
                     









        </div>
      </div>
</div>






{% for image in images %}
<!-- Modal -->
<div class="modal fade" id="myModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-target="#{{image.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Image details</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

              
              
                  <img id="{{image.id}}" src="{{image.main_image}}" class="card-img-top img-responsive"   alt="{{image.image_name}}"/>
                  
              
              



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{% endfor %} 

{% endblock %}