
{% load static %}

{% block gallery %}

<div class="container-fluid gallery-section mt-1">
    <h2 class="text-center"><span>Our Gallery</span></h2>
    <div class="container-fluid">
        <div class="container-fluid">
      
            

              <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for image in images %}
                <div class="col card">
                  <div class="">
                    <img src="{{image.main_image.url}}" class="card-img-top img-responsive" data-mdb-toggle="modal" data-mdb-target="#{{image.id}}"  style="height:15rem;"  alt="{{image.image_name}}"/>
                    <a href=""></a><h5></h5>
                  </div>
                </div>
                {% endfor %}
              </div>

              <a class='portfolio-wrap hovereffect' style='color:grey; text-decoration:none; ' data-toggle="modal" data-target="#myModal{{ forloop.counter }}">{{image.image_name}}   <span style='color:pink; text-decoration:none; '>   details</span> </a>
                     









        </div>
      </div>
</div>
{% endblock %}