{% extends 'main/base.html' %} {% load static %} {% block content %} {% include 'main/navbar.html' %} 
<!-- Start of Hero Section -->
<div class="container hero">
  <div class="container mt-5 justify-content-md-between">
    <img class="img-fluid float-sm-start float-md-end float-lg-end hero-pic" src="{% static 'images/group.png' %}"
      alt="hero photo" />
    <div class="float-sm-end float-md-start float-lg-start mt-lg-5 mt-md-5 mt-5">
      <h2 class="mt-lg-5 mt-md-5 mt-sm-5 intro">
        Welcome to <span class="brand">Gallery</span> .
      </h2>
      <h3 class="intro">
        Collection of <span class="detail">Photos</span> and
        <i class="bi bi-emoji-sunglasses"></i>
      </h3>
      <h3 class="intro">
        <span class="detail">Images</span> from different locations
      </h3>
      <form class="d-flex input-group w-auto form-search mt-5" role="search" action="{% url 'search_results' %}">
        <input type="text" class="form-control rounded sch" placeholder="Search: Gaming, children, Fashion "
          aria-label="Search" name="image" aria-describedby="search-addon" />
         
      </form>
      <p class="">
        <small class="text-muted "><span class="fw-bold">Please Note:</span> Initial website load time may be abit slow due to high quality images used.</small>
      </p>

    
    </div>
  </div>
</div>
<!--   End of Hero Section   -->

{% include 'main/gallery.html' %} {% endblock %}