{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- Start of Hero Section -->
<div class="container">
    <div class="container mt-5 justify-content-md-between hero h-100">
        <img class="img-fluid float-sm-start float-md-end float-lg-end hero-pic " src="{% static 'images/group.png' %}" alt="hero photo">
        <div class="float-sm-end float-md-start float-lg-start mt-lg-5 mt-md-5 mt-5 ">
            
            <h2 class="mt-lg-5 mt-md-5 mt-sm-5 intro">Welcome to <span class="brand">Gallery</span> .</h2>
            <h3 class="intro">Collection of <span class="detail">Photos</span>  and <i class="bi bi-emoji-sunglasses"></i></h3>
           <h3 class="intro"><span class="detail">Images</span>  from different locations</h3>
           <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control rounded mt-5 form-search"
              placeholder="Search for images in our Gallery"
              aria-label="Search"
              aria-describedby="search-addon"
              
            />
            <span class="input-group-text border-0 mt-5" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
          </form>
        </div>
        
    </div>
</div>
<!--   End of Hero Section   -->

{% endblock %}