{% extends 'main/base.html' %}

{% load static %}
{% block content %}

<div class="container mt-5">
    {% if imaages %}
    <h3 class="intro text-center">Found {{ images|length }} images from the search term {{message}}</h3>
    {% else %}
    <h3 class="intro text-center">Hey, this is what we found from the seached term {{message}}</h3>
    {% endif %}
</div>





<div class="container-fluid gallery-section mt-5">
    
    <div class="container-fluid">
        <div class="container">
      
            

              <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if images %}
                {% for image in images %}
                <div class="col">
                  <div class="card ">
                    <img src="{{image.main_image.url}}" class="card-img-top img-responsive"  style="height: 15rem;"  alt="{{image.image_name}}"/>
                    
                  </div>
                </div>
                {% endfor %}
                {% endif %}
              </div>

{% endblock %}