@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700&family=Smooch&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.navbar-brand{
    font-family: 'Smooch', cursive;
    font-size: 25px;
    font-weight: 500;
}
h4{
    color: blue;
}